{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'food_venue_inspection_report_list' %}">report Listing</a></p>
<table class="table">
<tr><td>id</td><td>{{ object.id }}</td></tr>
<tr><td>time_in</td><td>{{ object.time_in }}</td></tr>
<tr><td>time_out</td><td>{{ object.time_out }}</td></tr>
<tr><td>purpose_of_inspection</td><td>{{ object.purpose_of_inspection }}</td></tr>
<tr><td>COS_violation_count</td><td>{{ object.COS_violation_count }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit report</a>

{% endblock %}