{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8"><h1>Welcome</h1></div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"><b>Food Safety:</b> <br>
We regularly inspect restaurants and food service businesses to ensure food is prepared in safe, hygienic, properly equipped and well-maintained facilities.</p>
    </div>
        <div class="col-md-4">
            <form action="/fvi/results/" method="GET">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="OK">
                </div>
            </form></div>
    </div>
<img src="{% static '/eat.png' %}" alt="food">
    <p><b>Restaurant Inspections</b><br>
We inspect over 300 restaurants and foodservice facilities every year, which benefits everyone in the region every single day. Our specialists educate employees and consumers about safe food handling procedures including proper temperatures for cooking, serving and refrigeration.
Diseases can be transmitted in packaged goods, in meat, on produce and through improper food handling, preparation and storage.
Consumer food safety education is also important since the majority of foodborne illnesses can be traced to improper food handling procedures in home kitchens.
Citizens can request an inspection report for specific restaurants in our Office.</p>
</div>
</div>
{% endblock %}