{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'fvi_inspection_list' %}">inspection Listing</a></p>
<table class="table">
<tr><td>id</td><td>{{ object.id }}</td></tr>
<tr><td>timeIn</td><td>{{ object.timeIn }}</td></tr>
<tr><td>timeOut</td><td>{{ object.timeOut }}</td></tr>
<tr><td>purposeOfInspection</td><td>{{ object.purposeOfInspection }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit inspection</a>

    {% if inspectionObjects_list %}
    <h1>Inspectino Results</h1>
    <p>Inpections</p>
    <ul>
    {% for inspection in inspectionObjects_list %}
        <table class="table table-inverse">
{#        <li><a href="{{inspection.get_absolute_url}}">{{ inspection }}</a></li>#}
    <tr><td>Status</td><td>{{ inspection.complianceStatus }}</td></tr>
    <tr><td>itemDetailsId</td><td>{{ inspection.itemDetailsId }}</td></tr>
    {% endfor %}
    </ul>
{% else %}
    <p>No inspections for this restaurant exist!!! Come back at another time.</p>
{% endif %}


{% endblock %}