{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'fvi_restaurant_list' %}">restaurant Listing</a></p>
<table class="table">
{#<tr><td>id</td><td>{{ object.id }}</td></tr>#}
<tr><td>Name</td><td>{{ object.name }}</td></tr>
<tr><td>Address</td><td>{{ object.address }}</td></tr>
<tr><td>Owner</td><td>{{ object.owner }}</td></tr>
{#<tr><td>licensePermit</td><td>{{ object.licensePermit }}</td></tr>#}
<tr><td>RestaurantType</td><td>{{ object.restaurantType }}</td></tr>
{#<tr><td>riskType</td><td>{{ object.riskType }}</td></tr>#}
</table>
{#    {{ object }}#}
{#    {{ object.inspection_list }}#}
    {{ inspection_list }}
    gaga
{#<a class="btn btn-primary" href="{{object.get_update_url}}">Edit restaurant</a>#}
{{ inspectionObjects_list }}

    yasssaiosjdfoajs;dfjaksjdfjaskldfjkalsdfkajsdfj;asjkdlf
{% if inspectionObjects_list %}
        <p>YAAS</p>
    <ul>
    {% for restaurant in inspectionObjects_list %}
        <li><a href="{{restaurant.get_absolute_url}}">{{ restaurant }}</a></li>
        <table class="table table-inverse">
    <tr><td>Name</td><td>{{ restaurant.purposeOfInspection }}</td></tr>
    <tr><td>Address</td><td>{{ restaurant.address }}</td></tr>
    <tr><td>Owner</td><td>{{ restaurant.owner }}</td></tr>
    <tr><td>license Permit</td><td>{{ restaurant.licensePermit }}</td></tr>
    <tr><td>Restaurant Type</td><td>{{ restaurant.restaurantType }}</td></tr>
    <tr><td>Risk Type</td><td>{{ restaurant.riskType }}</td></tr>
    </table>
    {% endfor %}
    </ul>
{% else %}
    <p>No inspections for this restaurant exist!!! Come back at another time.</p>
{% endif %}

{% endblock %}